.question-controllers {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: #f3cd59;
  grid-row-start: 5;
  height: 30%;
  line-height: 68%;
  display: flex;
  border-radius: 4px;
  box-shadow: gray;
  font-size: 14px;
  width: 10%;
  flex-flow: row;
  justify-content: space-between;
  // padding-left: 10px;
  margin-left: 76%;
  box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  
  }
  
  .question-controllers i {
    color: rgb(88, 72, 23);
    width: 50%;
    display: flex;
    justify-content: center;
    line-height: 266%;
  }
 
  #arrows-container {
    width: 100%;
    padding: 0;
    height: 100%;
    margin: 0, 2px, 0, 2px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
  }
  #down{
    border-top-right-radius: 4px;
      border-top-right-radius: 4px;
  }
  #up{
    border-top-left-radius: 4px;
      border-top-left-radius: 4px;
  }
  #up:hover {
    cursor: pointer;
    background-color: rgb(240, 214, 135);
    transition: background-color .2s ease 0s;
  }
  #up:active {
    cursor: pointer;
    background-color: rgb(165, 140, 65);
    transition: background-color .2s ease 0s;
  }

  #down:hover{
    cursor: pointer;
    background-color: rgb(240, 214, 135);
  }
  #down:active {
    cursor: pointer;
    background-color: rgb(165, 140, 65);
    transition: background-color .2s ease 0s;
  }
  #arrows-container :nth-child(1) {
    border: solid;
    border-width: 1px;
    border-left: 5px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: rgba(141, 124, 74, 0.719);
  }